{@include file://./layout/header.tmpl }
<h4>组件</h4>
<h5>按钮</h5>
<link rel="stylesheet" type="text/css" href="/other/css/compents.css">
<div class="states g-btn">
    <span>按钮一</span>
</div>
<pre>
<code class="html">
{@escape
<div class="states">
	<span>按钮一</span>
</div
/@escape}
</code>
</pre>
{@include file://./layout/footer.tmpl}