{@include file://./layout/header.tmpl }
<div id="container">
    <div id="nav">
        <ul>
            <li><a href="#"><span>首页</span></a></li>
            <li><a href="#"><span>控件</span></a></li>
            <li class="dropdown"><a href="#"><span>持续集成</span></a>
                <ul>
                    <li><a href="#"><span>开发</span></a></li>
                    <li><a href="#"><span>发布</span></a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#"><span>框架</span></a>
                <ul>
                    <li><a href="#"><span>通用</span></a></li>
                    <li><a href="#"><span>SEO优化</span></a></li>
                    <li><a href="#"><span>样式表</span></a></li>
                    <li><a href="#"><span>插件</span></a></li>
                    <li><a href="#"><span>安全</span></a></li>
                </ul>
            </li>
            <li><a href="#"><span>代码片段</span></a></li>
        </ul>
    </div>
</div>​
<div class="cont-wraper">
    <h4>常用jquery模板</h4>
    <pre>
    <code class="javascript">
$(function(){
    //TODO your code
        // 将HTML转义为实体
    module.exports = function escape(html) {
        if (typeof html !== 'string') return ''
        return html.replace(entityReg.escape, function (match) {
            return entityMap.escape[match]
        })
    }
    // 将实体转回为HTML
    module.exports = function unescape(str) {
        if (typeof str !== 'string') return ''
        return str.replace(entityReg.unescape, function (match) {
            return entityMap.unescape[match]
        })
    }
});
    </code>
    </pre>
</div>

{@include file://./layout/footer.tmpl }