{@include file://./layout/header.tmpl }

<div id="container">
    <div id="nav">
        <ul>
            <li><a href="#"><span>Dashboard</span></a></li>
            <li><a href="#"><span>Posts</span></a></li>
            <li class="dropdown"><a href="#"><span>Users</span></a>
                <ul>
                    <li><a href="#"><span>Joshua Hibbert</span></a></li>
                    <li><a href="#"><span>Kyle Bragger</span></a></li>
                    <li><a href="#"><span>Jack Rugile</span></a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#"><span>Settings</span></a>
                <ul>
                    <li><a href="#"><span>General</span></a></li>
                    <li><a href="#"><span>SEO</span></a></li>
                    <li><a href="#"><span>Style</span></a></li>
                    <li><a href="#"><span>Plugins</span></a></li>
                    <li><a href="#"><span>Security</span></a></li>
                </ul>
            </li>
            <li><a href="#"><span>View Site</span></a></li>
        </ul>
    </div>
</div>​

<div>演示:</div>
<button class="hello" style="background-color:#ddd;border-radius:0;color:red; ">前端button</button>
<button class="hello" style="background-color:#ddd;border-radius:0;color:#80ff3e; ">前端button</button>
<button class="hello" style="background-color:#ddd;border-radius:0;color:#2d51ff; ">前端button</button>
<button class="hello" style="background-color:#ddd;border-radius:0;color:#f6fcff; ">前端button</button>
<button class="hello" style="background-color:#ddd;border-radius:0;color:#ddd; ">前端button</button>
<div>代码:</div>
<pre><code class="html">
    &lt;button class="hello" style="background-color:#ddd;border-radius:0;color:red; ">前端button&lt;/button>
    &lt;button class="hello" style="background-color:#ddd;border-radius:0;color:#ddd; ">前端button &lt;/button>

</code></pre>
<button class="hello" id="asdfasdf" style="background-color:#ddd;border-radius:0;color:red; ">2</button>
<ul>
    {@each list as it,index}
    <li>${it.name} (index: ${index})</li>
    {@/each}
    {@each blah as it}
    <li>
        num: ${it.num} <br />
        {@if it.num==3}
        {@each it.inner as it2}
        ${it2.time} <br />
        {@/each}
        {@/if}
    </li>
    {@/each}
</ul>
<pre>
<code class="html">
{@escape
   <h1>这里是h1标签</h1>
 /@escape}
</code>
</pre>
常用jquery模板
<pre>
<code class="javascript">

$(function(){
    //TODO your code
        // 将HTML转义为实体
    module.exports = function escape(html) {
        if (typeof html !== 'string') return ''
        return html.replace(entityReg.escape, function (match) {
            return entityMap.escape[match]
        })
    }
    // 将实体转回为HTML
    module.exports = function unescape(str) {
        if (typeof str !== 'string') return ''
        return str.replace(entityReg.unescape, function (match) {
            return entityMap.unescape[match]
        })
    }
});
   
</code>
</pre>
{@include file://./layout/footer.tmpl }