前端职业技能

初级前端
1.基本了解HTML结构,标签,用途,基本能使用语义化标签进行布局
2.基本了解CSS2.0以及3.0的样式属性以及对应的作用,能综合进行简单的页面布局
3.基本熟悉和使用一种js框架(库),比如jquery,能独立进行页面逻辑,效果的编写
4.基本熟练掌握photoshop的切图技能.
5.基本熟悉一种或两种代码管理工具,svn,git,hg等
6.基本熟练掌握一种或两种文本编辑器,熟悉快捷键以用于快速的开发工作
ps:其他
1.基本掌握跟其他部门的同事进行沟通交流,明确职责边界,业务边界等沟通技巧
2.基本可以利用现掌握的的技术,对任务可完成的效果进行预期的评估
3.具有基本的自学能力


中级前端
1.熟练掌握HTML,CSS,JS的组合搭配,并能写出合理,合乎前端规范的代码
2.了解目前行业的技术风向,对技术有一定的敏感性
3.针对前端技能可以进行简单的内部培训
4.熟练使用各项框架,能基本看懂各种框架库的源码
5.熟练使用nodejs进行各项前端优化
6.能编写跨浏览器的代码编写,解决兼容问题


高级前端
1.精通掌握各种前端技术框架
2.对各种框架优缺点有自己的见解,并能针对性修复框架库的bug
3.对前端技术发展风向,有自己的理解,并能将最好的,最先进的理念带回馈团队,促进前端团队的进步和提升
4.精通或熟练掌握至少一门后端语言
5.掌握开发,发布,持续集成,持续构建等软件的整个生命周期的各项工具和理念

资深前端
1.深入掌握各种前端技术框架
2.针对业务,需求等开发公司使用或开源的技术框架,有自己的开发思想.
3.对于前端行业都有着深刻的了解,并能开发对应的框架工具尝试解决行业性普遍问题

前端架构师:
1.熟练掌握开发需要的各项技能.并能针对现状,进行指导性质的提出解决方案.
2.对整个行业都有着不可忽视的贡献,如写书,有广泛被使用的库和框架

其他技能点:
SEO,用户体验,设计模式,数据结构,动画
面向对象,面向函数(js),分布式,并行,并发
Linux,nginx,Http(s)协议
计算机原理(内存,IO,线程,Net)
算法,编译原理,编程语言,安全,......








